.analysis-container {
  text-align: center;
}

.analysis-container-barchart {
  text-align: center;
  width: 60%;
}

.table-container {
  /* background-color: var(--primarylight); */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  /* margin: 0px 50px 0px 50px; */
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
  display: inline-block;
}

.custom-data-table td {
  border: 0px;
  padding: 0 30px;
  background-color: transparent;
  padding-bottom: 7px;
  color: var(--text);
}

.custom-data-table th {
  background-color: transparent;
  color: var(--text);
}

.analysis-container-grafics {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.analysis-barchart-content {
  flex: 1 1 400px;
  max-width: 100%;
}

.analysis-barchart-content h3 {
  margin: 0;
}

.analysis-barchart-content canvas {
  /* max-width: 100%;
  height: 300px;
  width: 100%; */
  width: 100%;
  height: 300px;
}

@media (max-width: 768px) {
  .analysis-container {
    text-align: center;
    padding: 10px;
  }

  .table-container {
    margin: 0 auto;
    padding: 10px;
  }

  .custom-data-table td {
    padding: 0 10px;
    padding-bottom: 5px;
  }

  .analysis-container-grafics {
    gap: 20px;
  }

  .analysis-barchart-content {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .analysis-barchart-content canvas {
    height: 200px;
  }
  .analysis-barchart-content img {
    max-width: 10px;
    height: 10px;
  }
  .analysis-container-barchart {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .analysis-container,
  .table-container {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 95%;
  }

  .custom-data-table td {
    padding: 0 10px;
    padding-bottom: 5px;
    font-size: 12px;
  }

  .analysis-container-grafics {
    gap: 20px;
  }

  .analysis-barchart-content {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .analysis-barchart-content canvas {
    height: 200px;
  }
  .analysis-barchart-content img {
    max-width: 50px;
    height: auto;
  }

  .analysis-container-barchart {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .custom-data-table td {
    padding: 0 5px;
    padding-bottom: 5px;
    font-size: 10px;
  }

  .analysis-container-grafics {
    gap: 10px;
  }

  .analysis-barchart-content h3 {
    font-size: 14px;
  }

  .analysis-barchart-content canvas {
    height: 180px;
  }
  .analysis-barchart-content img {
    max-width: 30px;
    height: auto;
  }

  .analysis-container-barchart {
    width: 90%;
  }
}
