.product-display {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 56px;
  margin: 24px 0px 120px 0px;
  padding: 16px 24px;
}
.product-display .img-container {
  max-width: 400px;
  max-height: 400px;
}

.product-display .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.product-display .img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 24px;
  margin-top: 24px;
}
.product-display .img-list .img-container {
  width: 96px;
  height: 96px;
}
.product-display .product-text-section {
  width: 440px;
}

.product-details {
  display: flex;
}
.product-details > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
  width: 200px;
}
/* .product-details div:first-child {
  width: 224px;
  flex-shrink: 0;
} */
.product-details .icon {
  flex-shrink: 0;
}

.controls-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 40px;
  row-gap: 24px;
  margin: 24px 0px;
}
.controls-container > div {
  display: flex;
  gap: 12px;
  align-items: center;
}
.controls-container .btn {
  width: 200px;
}
.controls-container .input-wrapper input {
  margin-right: 0px;
}
.controls-container .input-field input {
  width: 134px;
}
.product-display .controls-container .input-wrapper {
  width: 164px;
}
.product-display .title3,
.product-display .title4 {
  margin-bottom: 16px;
}
.product-display .title4.desc {
  margin-top: 24px;
}
.product-text-section p {
  margin: 0px;
}
.product-text-section .parr-row {
  margin-bottom: 24px;
}
.product-text-section .bold-text {
  font-weight: bold;
}
.state-container.product-state {
  flex-direction: row;
  align-items: center;
  height: 64px;
  margin-bottom: 40px;
}
.controls-container .icon-container {
  flex: 0;
}
@media screen and (max-width: 559px) {
  .product-display .title3 {
    font-size: var(--title4);
  }
  .product-display .title4 {
    font-size: var(--title5);
  }
}

@media screen and (max-width: 499px) {
  .product-display .controls-container {
    flex-direction: column;
    align-items: stretch;
  }
  .product-display .controls-container .btn,
  .product-display .controls-container .input-wrapper {
    width: 100%;
  }
  .product-display .controls-container .input-wrapper input {
    width: 90%;
  }
}
@media screen and (max-width: 399px) {
  .product-display .img-list {
    justify-content: center;
    align-items: center;
  }
}
