@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --primary: #ffd56f;
  --primarylight: #fff7e2;
  --primarylighter: #fff7e2;
  --primarybackground: #fffdf9;
  --secondary: #6db4ac;
  --secondarylight: #a7d2cd;
  --secondarylighter: #e2f0ee;
  /* --secondary_strong: #3e8e85; */
  --primary_strong: #e7b43d;
  --secondary_strong: #48968d;
  --tertiary_strong: #fa9477;
  --tertiary: #feb491;
  --tertiarylighter: #fff0e9;
  --background0: #ffffff;
  --background1: #fcfcfc;
  --background2: #fcfbf9;
  --text: #222222;
  --textlight: #888888;
  --textlighter: #d9d9d9;
  --title1: 60px;
  --title2: 48px;
  --title3: 40px;
  --title4: 32px;
  --title5: 24px;
  --title6: 24px;
  --title7: 18px;
  --parr1: 16px;
  --parr2: 13px;
  --subparr: 11px;
}
/* * {
  color: var(--text);
}  causes some bugs*/
.title1,
.title2,
.title3,
.title4,
.title5,
.title6,
.parr1,
.parr2,
.parr3,
.subpar {
  margin: 0;
  color: var(--text);
}
.title3 {
  font-size: 40px;
  line-height: 48px;
}
.title4 {
  font-size: 32px;
  line-height: 40px;
}
.title5 {
  font-size: 24px;
  line-height: 32px;
}
.title6 {
  font-size: 20px;
  line-height: 28px;
}
.parr1 {
  font-size: 16px;
  /* line-height: 20px; */ /*decided to use default*/
}
.parr2 {
  font-size: 13px;
}
.btn {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 16px;
  width: 120px;
  height: 51px;
  font-size: var(--parr1);
  font-weight: bold;
  cursor: pointer;
}
.bg0-secondary-v {
  background-color: var(--background0);
  color: var(--secondary);
}
.bg0-secondary-v:active {
  background-color: var(--secondary);
  color: var(--background0);
}
.bg0-primary-v {
  background-color: var(--background0);
  color: var(--primary);
}
.bg0-primary-v:active {
  background-color: var(--primary);
  color: var(--background0);
}
.bg0-tertiary-v {
  background-color: var(--background0);
  color: var(--primary);
}
.bg0-tertiary-v:active {
  background-color: var(--tertiarylighter);
  color: var(--background0);
}
.bg-text-v {
  background-color: var(--text);
  color: var(--background1);
}

.btn-yellow-white {
  background-color: var(--primary);
  color: var(--background0);
}

.btn-yellow-white:active {
  background-color: var(--primary_strong);
  color: var(--background0);
}
.text-v {
  background-color: var(--background0);
  color: var(--text);
}
.text-v:active {
  background-color: var(--text);
  color: var(--background1);
}
.secondary-v {
  background-color: var(--secondary);
  color: var(--background1);
}
.secondary-v:active {
  background-color: var(--secondary_strong);
}
.tertiary-v {
  background-color: var(--tertiary);
  color: var(--background1);
}
.tertiary-v:active {
  background-color: var(--tertiary_strong);
}
.primary-brd {
  border: 1px solid var(--primary);
}
.secondary-brd {
  border: 1px solid var(--secondary);
}
.text-brd {
  border: 1px solid var(--text);
}

.input {
  width: 93%;
  padding: 10px;
  margin-right: 0;
  border: 1px solid var(--textlight);
  border-radius: 5px;
  color: var(--textlight);
  font-size: var(--parr1);
}

.input::placeholder {
  color: var(--textlighter);
  font-size: var(--parr1);
}

.grey-v {
  background-color: var(--textlight);
}
.grey-v:active {
  background-color: var(--textlighter);
}
.accent-secondary {
  color: var(--secondary);
}
.accent-tertiary {
  color: var(--tertiary);
}
.bold {
  font-weight: bold;
}
