/* .signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 100px;
}

.rectangle-container {
  width: 440px;
  height: 480px;
  background-color: var(--primarylight);
  border-radius: 3%;
  margin-right: 56px;
} */

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  flex-wrap: wrap;
}

.rectangle-container {
  /* width: 100%; */
  width: calc(100% - 80px);
  max-width: 440px;
  height: 480px;
  background-color: var(--primarylight);
  border-radius: 3%;
  margin: 0 40px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-image: url("../assets/resgisincs.jpg");
  background-size: cover;
  background-position: center;
}

/* @media (max-width: 500px) {
  .signup-container {
    padding: 20px;
  }*/

/* .rectangle-container {
    width: 60%;
    max-width: 100%;
    height: 150px;
    margin: 0 25px;
    margin-bottom: 10px;
  } */
/* .rectangle-container {
    width: 80%; 
    height: 150px;
    margin: 0 5%; 
    margin-bottom: 10px;
  }
} */

@media (max-width: 1100px) {
  .signup-container {
    padding: 20px;
  }

  .rectangle-container {
    width: 70%; /* Ancho decreciente */
    height: calc(70vw * 0.5);
    margin: 0 5%; /* Margen más pequeño */
    margin-bottom: 10px;
  }
}
