.go-back .link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
  margin-left: 80px;
}
.loading-container {
  height: 100vh;
}

@media screen and (max-width: 559px) {
  .go-back .link {
    padding: 0px 24px;
    margin-left: 0px;
  }
  .product .title3 {
    font-size: var(--title4);
  }
  .product .title4 {
    font-size: var(--title5);
  }
}
