.publication {
  margin: 80px auto 160px auto;
  max-width: 496px;
  padding: 0px 20px;
  font-family: "Open Sans", sans-serif;
}
.publication .title4 {
  color: var(--secondary);
  margin-bottom: 40px;
}
.publication form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.publication Input {
  font-family: "Open Sans", sans-serif;
}
.publication .row-wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}
.publication .input-wrapper {
  flex: 1;
}
.publication .row-wrapper .input-wrapper Input {
  /* box-sizing: border-box;
  width: 100%; */
}
.publication .input-wrapper input {
  box-sizing: border-box;
  width: 100%;
  margin-right: 0px;
  padding: 0px 16px;
}
.publication .input-field label {
  left: 16px;
}
.publication .text-area {
  box-sizing: border-box;
  border-radius: 6px;
  padding: 16px;
  display: flex;
  width: 100%;
  height: 200px;
  font-family: "Open Sans", sans-serif;
  resize: none;
}
.publication .text-area::placeholder {
  color: var(--textlighter);
}
.publication .row-wrapper .list-option {
  width: 100%;
}
.publication .form-label {
  width: 160px;
  margin-right: 20px;
  font-weight: bold;
}
.publication .text-address {
  width: 100%;
}
/* images */

.publication input[type="file"] {
  width: 0;
  height: 0;
  overflow: hidden;
  opacity: 0;
}

.custom-file-upload {
  /* align-self: flex-start; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
}
.publication .img-container {
  width: 144px;
  height: 144px;
}
.publication .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.publication .btn.secondary-v {
  width: 100%;
}
/* State */
.publication .state-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 144px;
  gap: 8px;
  margin-top: 32px;
  border-radius: 16px;
  padding: 24px;
  color: var(--textlight);
}
.publication p {
  color: var(--textlight);
}
.publication .boldparr {
  font-weight: bold;
}
.publication .state-container.success {
  background-color: var(--secondarylighter);
}
.publication .state-container.error {
  background-color: var(--tertiarylighter);
}
.publication .state-container.loading {
  background-color: var(--primarylighter);
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 32px;
  height: 32px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 8px;
  border: 3px solid var(--textlighter);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--textlighter) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
