.donation-item {
  box-sizing: border-box;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  border-radius: 16px;
  box-shadow: 0px 0px 4px 0px var(--textlighter);
  width: 708px;
  height: 144px;
  padding: 24px;
  background-color: var(--background0);
}

.donation-item .img-container {
  width: 96px;
  height: 96px;
}
.donation-item .img-container img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.donation-data {
  display: flex;
  flex-direction: column;
  gap: 12px;
  height: 96px;
}
.donation-item .col-separator {
  border-right: 2px solid var(--textlight);
}
.donation-item .section-1 {
  width: 200px;
}
.donation-item .section-2 {
  width: 248px;
}
.donation-item .status-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 96px;
}
.donation-item .detail-section {
  display: flex;
  align-items: center;
  gap: 32px;
}
.donation-item .date-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}
.donation-item .date-section .date-wrapper {
  width: 112px;
}
.donation-item .row-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
}
.status-container .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 32px;
  height: 32px;
}
.status-container .entregado {
  color: var(--secondary);
}
.status-container .pendiente {
  color: var(--textlight);
}
.status-container .solicitado,
.status-container .confirmando {
  color: var(--textlight);
}
.status-container .cancelado,
.status-container .rechazado {
  color: var(--tertiary);
}

.single-line {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.donation-item .status-container .btn.pdf-button {
  display: flex;
  gap: 4px;
  width: 80px;
  font-size: var(--parr2);
  font-weight: normal;
}
.btn-link {
  all: unset;
}
