.about-us {
  margin: 0px auto;
  padding: 64px 0px;
  width: 600px;
}
.about-us .title3 {
  text-align: center;
  margin-bottom: 40px;
}
.about-us p {
  margin-bottom: 32px;
}
.about-us img {
  width: 100%;
  margin-bottom: 32px;
}
