.step {
  width: 365px;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
}

.step h2 {
  font-size: var(--title3);
  margin: 0 0 15px 0;
}
.step .underline {
  font-size: var(--parr2);
  color: var(--textlight);
  font-weight: bold;
}
.step p .no-margin {
  font-size: var(--parr2);
  margin: 0 0 0 0;
}

.step .marginBottom {
  margin: 0 0 37px 0;
}

.step .margin-bottom-align {
  margin: 0 0 30px 0;
  display: flex;
  align-items: center;
  gap: 9px;
}

.step .align {
  display: flex;
  align-items: center;
  gap: 9px;
}

.step p {
  font-size: var(--parr2);
  margin: 0 0 0 0;
}

.step .mensageError {
  color: var(--textlight);
  font-size: var(--subparr);
  margin: 5px 0 0 5px;
  height: 10px;
}

.step .input-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 0 16px 0;
  width: 100%;
}

.step .button-wrapper {
  display: flex;
  align-items: stretch;
  margin-top: 34px;
  justify-content: space-between;
}

.step .custom-button {
  width: 160px;
}

.step .button-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 345px;
}

.step .btn-margin-bottom {
  margin: 0 0 16px 0;
  width: 105%;
}
.step .input-form-2 {
  margin: 0 0 16px 0;
  width: 100%;
}

.step .input-container-form-2 {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  width: 100%;
}

@media (max-width: 768px) {
  .step {
    width: 300px;
    padding: 20px;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
  }

  .step .custom-button {
    width: 130px;
  }

  .step .input-container-form-2 {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
  }

  .step .input-container-form-2 > * {
    width: 105%;
  }
}
