.search-filters {
  padding: 20px;
}

.search-filters span {
  font-size: var(--parr2);
  color: var(--textlight);
}

.container-select {
  display: flex;
  justify-content: space-between;
  margin: 0px 0px 12px 0px;
  gap: 20px;
}

.select-wrapper {
  width: 100%;
}

.custom-select {
  width: 100%;
}

.filter-wrapper {
  width: 100%;
}

.container-select button {
  width: 20%;
  align-items: center;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: var(--background0);
}

.container-date {
  width: 100%;
  display: flex;
  gap: 20px;
  margin: 0px 0px 12px 0px;
  align-items: center;
}

.container-date span {
  width: 20%;
}
.container-date .btndate {
  width: 100%;
}

.date-post {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
}

.btndate {
  width: 37%;
}
.btn-filter-inf {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 50%;
}
.btn-filter-inf button{
  width: 100%;
}
@media screen and (max-width: 768px) {
  .search-filters {
    padding: 10px;
  }

  .search-filters span {
    font-size: var(--parr2);
  }

  .container-select {
    flex-direction: column;
    gap: 5px;
  }

  .container-select button {
    width: 100%;
  }

  .container-date {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
    justify-content: flex-start;
  }

  .container-date span {
    width: 100%;
  }

  .date-post {
    display: flex;
    align-items: center;
    gap: 5%;
    width: 90%;
  }
  .filter-wrapper {
    width: 102%;
  }

  .btn-filter-inf {
    width: 100%;
  }

  .btn-filter-inf button{
    margin: 10px 0 0 0;
    padding: 10px;
  }
}
